.header {
  .example-icon {
    padding: 0 14px;
  }

  mat-nav-list {
    padding-top: 3.5rem !important;

    a.mat-list-item {
      border-bottom: 1px solid lightgrey;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-bottom: 4rem;
  }

  .menu-spacer {
    flex: 1 1 auto;
  }

  .content-body {
    margin-top: 4.5rem;
    margin-bottom: 1rem;
  }
}
