<h2 class="text-center">statistics</h2>
<div class="row">
  <div class="col ">
    <div class="card">
      <ul class="list-group list-group-flush" *ngFor="let supplier of statisticsData | keyvalue">
        <li class="list-group-item text-center bg-primary font-weight-bold"> {{supplier.key | uppercase}} </li>
        <li class="list-group-item">
          Total Card Amount : {{ statisticsData[supplier.key]["totalCardAmount"] }}
        </li>
        <li class="list-group-item">
          Total Amount Pay : {{ statisticsData[supplier.key]["totalAmountPay"] }}
        </li>
        <li class="list-group-item">
          Total Collected Amount :
          {{ statisticsData[supplier.key]["totalcollectedAmount"] }}
        </li>
      </ul>
    </div>
  </div>
</div>
